.footer-container {
  background-color: var(--black-light);
  color: var(--white);
  width: 100%;

  .mention-legale {
    display: flex;
    justify-content: space-between;
    background: var(--black);
    padding: 2rem 5rem;

    .social-icons {
      display: flex;
      align-items: center;

      li {
        margin: 0 1rem;

        a {
          color: var(--white);
          text-decoration: none;
        }
        svg{
          color: var(--white);
        }
      }
    }
    .legal-links {
      display: flex;
      align-items: center;

      li {
        margin: 0 1rem;

        a {
          color: var(--white);
          text-decoration: none;
        }
      }
    }
  }
}
